<section class="grid">

  <div class="grid-item">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>List years with multiple winners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table-multiple-winners></table-multiple-winners>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Top 3 studios with winners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table-top-studios></table-top-studios>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Producers with longest and shortest interval between wins</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table-producers-interval></table-producers-interval>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>List movie winners by year</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table-winners-by-year></table-winners-by-year>
      </mat-card-content>
    </mat-card>
  </div>

</section>