
@if (!isLoading) {
  <!-- Table -->
  <table mat-table [dataSource]="dataSource">
    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>

    <!-- Win Count Column -->
    <ng-container matColumnDef="winnerCount">
      <th mat-header-cell *matHeaderCellDef>Win Count</th>
      <td mat-cell *matCellDef="let element">{{ element.winnerCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Mostra aviso quando nenhum dado for encontrado -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">No data found.</td>
    </tr>
  </table>
} @else {
  <!-- Data Loader -->
  <div class="loader">
    <mat-progress-spinner color="accent" [diameter]="100" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
}
